<form [formGroup]="myForm">
  <div class="row">
    <div class="col-md-4 p-1">
      <div class="form-group">
        <label>Socio</label>
        <select
          class="form-select con-md-12"
          (change)="onSelectPartner($event)"
          formControlName="idPartner"
        >
          <option [value]="0" selected>Seleccione ...</option>
          <option
            *ngFor="let partner of partnerList"
            [value]="partner.idPartner"
          >
            {{ partner.name }}
          </option>
          <option></option>
        </select>
      </div>
    </div>
  </div>
</form>
