<div class="center-login" @fadeIn>
  <form
    autocomplete="off"
    [formGroup]="myForm"
    (ngSubmit)="onChangePassword()"
    class="login-container"
  >
    <div class="header">
      <h2>Cambiar contraseña</h2>
      <button type="button" class="close-button" (click)="closeDialog()">
        &times;
      </button>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label><i class="fas fa-user"></i> Usuario</label>
          <input
            type="text"
            formControlName="userName"
            (keydown.enter)="onChangePassword()"
            class="form-control"
            placeholder="ingrese usuario"
          />
          <div
            *ngIf="
              myForm.get('userName')!.touched && myForm.get('userName')?.invalid
            "
          >
            <small
              class="text-danger"
              *ngIf="myForm.get('userName')?.errors?.['required']"
            >
              El nombre de usuario es obligatorio.
            </small>
            <small
              class="text-danger"
              *ngIf="myForm.get('userName')?.errors?.['minlength']"
            >
              El nombre de usuario debe tener al menos 4 caracteres.
            </small>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label><i class="fa-solid fa-key"></i> Constraseña</label>
          <input
            type="text"
            formControlName="password"
            (keydown.enter)="onChangePassword()"
            class="form-control"
            placeholder="ingrese e-mail"
          />
          <div
            *ngIf="
              myForm.get('password')!.touched && myForm.get('password')?.invalid
            "
          >
            <small
              class="text-danger"
              *ngIf="myForm.get('password')?.errors?.['required']"
            >
              La contraseña es obligatoria.
            </small>
            <small
              class="text-danger"
              *ngIf="myForm.get('password')?.errors?.['minlength']"
            >
              La contraseña debe tener al menos 8 caracteres.
            </small>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label><i class="fa-solid fa-key"></i> Nueva contraseña</label>
          <input
            type="text"
            formControlName="newPassword"
            (keydown.enter)="onChangePassword()"
            class="form-control"
            placeholder="ingrese e-mail"
          />
          <div
            *ngIf="
              myForm.get('newPassword')!.touched &&
              myForm.get('newPassword')?.invalid
            "
          >
            <small
              class="text-danger"
              *ngIf="myForm.get('newPassword')?.errors?.['required']"
            >
              La nueva contraseña es obligatoria.
            </small>
            <small
              class="text-danger"
              *ngIf="myForm.get('newPassword')?.errors?.['minlength']"
            >
              El contraseña debe tener al menos 8 caracteres.
            </small>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label><i class="fa-solid fa-key"></i> Confirmar contraseña</label>
          <input
            type="text"
            formControlName="confirmPassword"
            (keydown.enter)="onChangePassword()"
            class="form-control"
            placeholder="ingrese e-mail"
          />
          <div
            *ngIf="
              myForm.get('confirmPassword')!.touched &&
              myForm.get('confirmPassword')?.invalid
            "
          >
            <small
              class="text-danger"
              *ngIf="myForm.get('confirmPassword')?.errors?.['required']"
            >
              La confirmación de la contraseña es obligatoria.
            </small>
            <small
              class="text-danger"
              *ngIf="myForm.errors?.['passwordsMismatch']"
            >
              Las contraseñas no coinciden.
            </small>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group">
        <button
          type="button"
          class="btn btn-primary btn-lg mt-2 w-100"
          (click)="onChangePassword()"
        >
          Recuperar contraseña
        </button>
      </div>
    </div>
    <div class="row">
      <p>
        Tu contraseña debe cumplir con los siguientes requisitos: <br /><i
          class="fa-solid fa-circle-info"
        ></i>
        Longitud minima de ocho caracteres <br /><i
          class="fa-solid fa-circle-info"
        ></i>
        Almenos una mayúscula <br /><i class="fa-solid fa-circle-info"></i>
        Almenos un número
      </p>
    </div>
  </form>
</div>
